USE [master]
GO
/****** Object:  Database [DataSocial]    Script Date: 12/25/2019 1:50:12 PM ******/
CREATE DATABASE [DataSocial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataSocial', FILENAME = N'D:\SQL\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\DataSocial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataSocial_log', FILENAME = N'D:\SQL\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\DataSocial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataSocial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataSocial]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[UID] [varchar](30) NOT NULL,
	[ID] [varchar](20) NOT NULL,
	[PASS] [varchar](20) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[IDcomment] [varchar](30) NOT NULL,
	[IDPOST] [varchar](30) NULL,
	[CONTENT] [ntext] NULL,
	[TIME] [datetime] NULL,
	[IDuser] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDcomment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FRIEND]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRIEND](
	[UID1] [varchar](30) NOT NULL,
	[UID2] [varchar](30) NOT NULL,
 CONSTRAINT [PK_FRIEND] PRIMARY KEY CLUSTERED 
(
	[UID1] ASC,
	[UID2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSENGER]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSENGER](
	[IDmessenger] [varchar](30) NOT NULL,
	[IDmessengerbox] [varchar](30) NULL,
	[UIDsend] [varchar](30) NOT NULL,
	[Content] [ntext] NULL,
	[Image] [varbinary](max) NULL,
	[TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDmessenger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessengerBox]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessengerBox](
	[IDmessengerbox] [varchar](30) NOT NULL,
	[IDuser1] [varchar](30) NULL,
	[IDuser2] [varchar](30) NULL,
	[LASTMODIFY] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDmessengerbox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFY]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFY](
	[IDnotify] [varchar](30) NOT NULL,
	[IDPost] [varchar](30) NULL,
	[Content] [ntext] NULL,
	[Time] [datetime] NULL,
	[IDuserSend] [varchar](30) NULL,
	[TypeNotify] [smallint] NOT NULL,
 CONSTRAINT [PK_NOTIFY] PRIMARY KEY CLUSTERED 
(
	[IDnotify] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEOPLE_FOLLOW_POST]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEOPLE_FOLLOW_POST](
	[IDPost] [varchar](30) NOT NULL,
	[IDuser] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PEOPLE_NOTIFY] PRIMARY KEY CLUSTERED 
(
	[IDPost] ASC,
	[IDuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[IDPOST] [varchar](30) NOT NULL,
	[IDUSER] [varchar](30) NULL,
	[LIKED] [int] NULL,
	[CONTENT] [ntext] NULL,
	[IMAGE] [varbinary](max) NULL,
	[TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPOST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts_like_list]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts_like_list](
	[IdPost] [varchar](30) NOT NULL,
	[IdUser] [varchar](30) NOT NULL,
 CONSTRAINT [PK_POST_USER] PRIMARY KEY CLUSTERED 
(
	[IdPost] ASC,
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 12/25/2019 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[UIDuser] [varchar](30) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[AVATAR] [varbinary](max) NULL,
	[NGSINH] [date] NULL,
	[SODT] [nvarchar](30) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](20) NULL,
	[HONNHAN] [nvarchar](100) NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[UIDuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([UID], [ID], [PASS]) VALUES (N'22782493', N'admin', N'admin')
INSERT [dbo].[ACCOUNT] ([UID], [ID], [PASS]) VALUES (N'32940241', N'datconyt', N'123')
INSERT [dbo].[ACCOUNT] ([UID], [ID], [PASS]) VALUES (N'33755086', N'huyconyt', N'123')
INSERT [dbo].[PROFILE] ([UIDuser], [NAME], [AVATAR], [NGSINH], [SODT], [EMAIL], [QUEQUAN], [HONNHAN]) VALUES (N'10155891', N'Minh Tiến', NULL, CAST(N'2011-03-02' AS Date), N'123456789', N'mail@.com', N'Chưa cập nhật', N'Độc thân')
INSERT [dbo].[PROFILE] ([UIDuser], [NAME], [AVATAR], [NGSINH], [SODT], [EMAIL], [QUEQUAN], [HONNHAN]) VALUES (N'22782493', N'Admin', NULL, CAST(N'2000-01-01' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[PROFILE] ([UIDuser], [NAME], [AVATAR], [NGSINH], [SODT], [EMAIL], [QUEQUAN], [HONNHAN]) VALUES (N'32940241', N'Ðạt', NULL, CAST(N'2000-01-01' AS Date), NULL, NULL, NULL, NULL)
ALTER TABLE [dbo].[COMMENT] ADD  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[MESSENGER] ADD  DEFAULT (NULL) FOR [Image]
GO
ALTER TABLE [dbo].[MESSENGER] ADD  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[MessengerBox] ADD  DEFAULT (getdate()) FOR [LASTMODIFY]
GO
ALTER TABLE [dbo].[NOTIFY] ADD  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[POST] ADD  DEFAULT (NULL) FOR [IMAGE]
GO
ALTER TABLE [dbo].[POST] ADD  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[PROFILE] ADD  DEFAULT (NULL) FOR [AVATAR]
GO
ALTER TABLE [dbo].[PROFILE] ADD  DEFAULT ('1/1/2000') FOR [NGSINH]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT] FOREIGN KEY([UID])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT] FOREIGN KEY([IDPOST])
REFERENCES [dbo].[POST] ([IDPOST])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_Comment_user] FOREIGN KEY([IDuser])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_Comment_user]
GO
ALTER TABLE [dbo].[FRIEND]  WITH CHECK ADD  CONSTRAINT [FK_FRIEND1] FOREIGN KEY([UID1])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[FRIEND] CHECK CONSTRAINT [FK_FRIEND1]
GO
ALTER TABLE [dbo].[FRIEND]  WITH CHECK ADD  CONSTRAINT [FK_FRIEND2] FOREIGN KEY([UID2])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[FRIEND] CHECK CONSTRAINT [FK_FRIEND2]
GO
ALTER TABLE [dbo].[MESSENGER]  WITH CHECK ADD  CONSTRAINT [FK_MESSENGER_MessengerBox] FOREIGN KEY([IDmessengerbox])
REFERENCES [dbo].[MessengerBox] ([IDmessengerbox])
GO
ALTER TABLE [dbo].[MESSENGER] CHECK CONSTRAINT [FK_MESSENGER_MessengerBox]
GO
ALTER TABLE [dbo].[MESSENGER]  WITH CHECK ADD  CONSTRAINT [FK_MESSENGER_PROFILE] FOREIGN KEY([UIDsend])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[MESSENGER] CHECK CONSTRAINT [FK_MESSENGER_PROFILE]
GO
ALTER TABLE [dbo].[MessengerBox]  WITH CHECK ADD  CONSTRAINT [FK_IDuser1] FOREIGN KEY([IDuser1])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[MessengerBox] CHECK CONSTRAINT [FK_IDuser1]
GO
ALTER TABLE [dbo].[MessengerBox]  WITH CHECK ADD  CONSTRAINT [FK_IDuser2] FOREIGN KEY([IDuser2])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[MessengerBox] CHECK CONSTRAINT [FK_IDuser2]
GO
ALTER TABLE [dbo].[NOTIFY]  WITH CHECK ADD  CONSTRAINT [FK_IDPost] FOREIGN KEY([IDPost])
REFERENCES [dbo].[POST] ([IDPOST])
GO
ALTER TABLE [dbo].[NOTIFY] CHECK CONSTRAINT [FK_IDPost]
GO
ALTER TABLE [dbo].[PEOPLE_FOLLOW_POST]  WITH CHECK ADD  CONSTRAINT [FK_IDPost_POST] FOREIGN KEY([IDPost])
REFERENCES [dbo].[POST] ([IDPOST])
GO
ALTER TABLE [dbo].[PEOPLE_FOLLOW_POST] CHECK CONSTRAINT [FK_IDPost_POST]
GO
ALTER TABLE [dbo].[PEOPLE_FOLLOW_POST]  WITH CHECK ADD  CONSTRAINT [FK_IDuser_PROFILE] FOREIGN KEY([IDuser])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[PEOPLE_FOLLOW_POST] CHECK CONSTRAINT [FK_IDuser_PROFILE]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_POST] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_POST]
GO
ALTER TABLE [dbo].[posts_like_list]  WITH CHECK ADD  CONSTRAINT [FK_POST_LIKE] FOREIGN KEY([IdPost])
REFERENCES [dbo].[POST] ([IDPOST])
GO
ALTER TABLE [dbo].[posts_like_list] CHECK CONSTRAINT [FK_POST_LIKE]
GO
ALTER TABLE [dbo].[posts_like_list]  WITH CHECK ADD  CONSTRAINT [FK_USER_LIKE] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[posts_like_list] CHECK CONSTRAINT [FK_USER_LIKE]
GO
/****** Object:  StoredProcedure [dbo].[AddComment]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddComment]
    @IDcomment VARCHAR(30),
	@IDPOST varchar(30),
	@CONTENT text, 
	@IDuser varchar(30)
AS
BEGIN
INSERT dbo.COMMENT
                                                            (
                                                                IDcomment,
                                                                IDPOST,
                                                                CONTENT,
                                                                TIME,
                                                                IDuser
                                                            )
                                                            VALUES
                                                            (   @IDcomment,        -- IDcomment - varchar(30)
                                                                @IDPOST,        -- IDPOST - varchar(30)
                                                                @CONTENT,        -- CONTENT - text
                                                                GETDATE(), -- TIME - datetime
                                                                @IDuser         -- IDuser - varchar(30)
                                                            )
END
GO
/****** Object:  StoredProcedure [dbo].[AddMess]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddMess]
	@IDmessbox varchar(30),
	@IDmess varchar(30),
	@UIDsend varchar(30),
	@Content  NTEXT

AS
BEGIN

	INSERT dbo.MESSENGER
	(
	    IDmessenger,
	    IDmessengerbox,
	    UIDsend,
	    Content,

	    TIME
	)
	VALUES
	(
		@IDmess,
		@IDmessbox,
		@UIDsend,
		@Content,
		GETDATE() -- TIME - datetime
	)

END
GO
/****** Object:  StoredProcedure [dbo].[AddMessbox]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddMessbox]
	@IdMessbox VARCHAR(30),
	@IdUser1 VARCHAR(30),
	@IdUser2 VARCHAR(30)
AS 
	BEGIN
	INSERT INTO dbo.MessengerBox
	(
	    IDmessengerbox,
	    IDuser1,
	    IDuser2,
	    LASTMODIFY
	)
	VALUES
	(   @IDmessbox,                   -- IDmessengerbox - varchar(30)
	    @IdUser1,                   -- IDuser1 - varchar(30)
	    @IdUser2,                   -- IDuser2 - varchar(30)
	    GETDATE() -- LASTMODIFY - smalldatetime
	    )

    END
GO
/****** Object:  StoredProcedure [dbo].[AddNotify]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddNotify]
	@IDNotify varChar(30),
	@IDPost VARCHAR(30),
	@Content NTEXT,
	@IDuser VARCHAR(30),
	@TypeNotify SMALLINT
AS
	BEGIN
		INSERT dbo.NOTIFY
		(
		    IDnotify,
		    IDPost,
		    Content,
		    Time,
			TypeNotify,
			IDuserSend
		)
		VALUES
		(   @IDNotify,       -- IDnotify - varchar(30)
		    @IDPost,       -- IDPost - varchar(30)
		    @Content,      -- Content - ntext
		    GETDATE(),	-- Time - datetime
			@TypeNotify,
			@IDuser
		)

		IF (0=(
			   SELECT COUNT(*)
			   FROM dbo.PEOPLE_FOLLOW_POST
			   WHERE dbo.PEOPLE_FOLLOW_POST.IDuser = @IDuser AND dbo.PEOPLE_FOLLOW_POST.IDPost = @IDPost
			  ))
			INSERT dbo.PEOPLE_FOLLOW_POST
			(
			    IDPost,
			    IDuser
			)
			VALUES
			(   @IDPost, -- IDnotify - varchar(30)
			    @IDUser  -- IDuser - varchar(30)
			)

    END
GO
/****** Object:  StoredProcedure [dbo].[GetAllNotifyofUser]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllNotifyofUser]
	@IDuser VARCHAR(30)
AS
	BEGIN
		SELECT dbo.NOTIFY.IDnotify, dbo.NOTIFY.IDPost,Nggui.NAME AS tênngườitươngtáctớipost, NgNhan.NAME AS tênchủpost, NgNhan.UIDuser AS UIDchủpost,dbo.NOTIFY.TypeNotify, dbo.NOTIFY.Time
		FROM dbo.NOTIFY, dbo.PROFILE AS Nggui, dbo.POST, dbo.PROFILE AS NgNhan
		WHERE  dbo.NOTIFY.IDPost IN(SELECT dbo.PEOPLE_FOLLOW_POST.IDPost
										FROM dbo.PEOPLE_FOLLOW_POST
										where dbo.PEOPLE_FOLLOW_POST.IDuser = @IDuser)
			   AND @IDuser != dbo.NOTIFY.IDuserSend
			   AND Nggui.UIDuser = dbo.NOTIFY.IDuserSend
			   AND dbo.POST.IDPOST = dbo.NOTIFY.IDPost
			   AND dbo.POST.IDUSER = NgNhan.UIDuser
		ORDER BY dbo.NOTIFY.Time ASC
	END

GO
/****** Object:  StoredProcedure [dbo].[GetIdMessbox]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetIdMessbox]
	@IdUser1 VARCHAR(30),
	@IdUser2 VARCHAR(30)
AS 
	BEGIN
	SELECT IDmessengerbox FROM dbo.MessengerBox WHERE (IDuser1 = @IdUser1 AND IDuser2 = @IdUser2) OR (IDuser1 = @IdUser2 AND IDuser2 = @IdUser1)
    END
GO
/****** Object:  StoredProcedure [dbo].[GetListSendNotify]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetListSendNotify]
	@IDNotify varchar(30)
AS
	BEGIN
		SELECT DISTINCT dbo.PEOPLE_FOLLOW_POST.IDuser
		FROM dbo.NOTIFY,dbo.PEOPLE_FOLLOW_POST
		WHERE dbo.NOTIFY.IDnotify = @IDNotify 
			  AND dbo.NOTIFY.IDPost = dbo.PEOPLE_FOLLOW_POST.IDPost
	END
    
GO
/****** Object:  StoredProcedure [dbo].[GetMailboxlist]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetMailboxlist]
	@IDuser	varchar(30)
AS
BEGIN
	

	SELECT TEMP.IDmessengerbox,TEMP.NAME, dbo.PROFILE.AVATAR ,TEMP.UIDuser,MESSENGER.Content
	FROM  dbo.MESSENGER, dbo.PROFILE, 

			(SELECT MB.IDmessengerbox ,NAME,UIDuser,MB.LASTMODIFY
			FROM dbo.MessengerBox AS MB, dbo.PROFILE
			WHERE ((MB.IDuser1 = @IDuser AND dbo.PROFILE.UIDuser = MB.IDuser2)
			OR(MB.IDuser2 = @IDuser AND dbo.PROFILE.UIDuser = MB.IDuser1))
			) as TEMP

	WHERE TEMP.IDmessengerbox = dbo.MESSENGER.IDmessengerbox AND temp.UIDuser = dbo.PROFILE.UIDuser
			AND IDmessenger = (
							SELECT TOP 1 IDmessenger
							FROM dbo.MESSENGER
							WHERE TEMP.IDmessengerbox = dbo.MESSENGER.IDmessengerbox
							ORDER BY dbo.MESSENGER.TIME DESC
							)
	ORDER BY TEMP.LASTMODIFY
END
GO
/****** Object:  StoredProcedure [dbo].[GetMessfromIDMess]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetMessfromIDMess]
	@IDmess varchar(30)
AS
BEGIN
	SELECT  IDmessenger,IDmessengerbox,Content,TIME, UIDuser
	FROM dbo.MESSENGER , dbo.PROFILE 
	WHERE IDmessenger = @IDmess AND UIDsend = dbo.PROFILE.UIDuser
	ORDER BY TIME DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetMessinMessbox]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetMessinMessbox]
	@IDmessbox varchar(30)
AS
BEGIN
	SELECT  IDmessenger,IDmessengerbox,Content,TIME, UIDuser
	FROM dbo.MESSENGER , dbo.PROFILE 
	WHERE IDmessengerbox = @IDmessbox AND UIDsend = dbo.PROFILE.UIDuser
	ORDER BY TIME ASC
END
GO
/****** Object:  StoredProcedure [dbo].[GetOnlyOneNotify]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetOnlyOneNotify]
	@IDNotify varchar(30)
AS
	BEGIN
		SELECT dbo.NOTIFY.IDnotify, dbo.NOTIFY.IDPost , Nggui.NAME, NgNhan.NAME , NgNhan.UIDuser , dbo.NOTIFY.TypeNotify
		FROM dbo.NOTIFY, dbo.PROFILE AS Nggui, dbo.POST, dbo.PROFILE AS NgNhan
		WHERE  dbo.NOTIFY.IDnotify = @IDNotify
				AND dbo.NOTIFY.IDuserSend = Nggui.UIDuser
				AND dbo.NOTIFY.IDPost = dbo.POST.IDPOST
				AND dbo.POST.IDUSER = NgNhan.UIDuser

	END
GO
/****** Object:  StoredProcedure [dbo].[GetUIDListFriend]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetUIDListFriend]
	@UIDuser varchar(30)
AS
	BEGIN
		 SELECT dbo.PROFILE.UIDuser, dbo.PROFILE.NAME
         FROM dbo.FRIEND, dbo.PROFILE
         WHERE (UID1=@UIDuser AND dbo.PROFILE.UIDuser = UID2) OR (UID2= @UIDuser AND dbo.PROFILE.UIDuser = UID1)
	END
    
GO
/****** Object:  StoredProcedure [dbo].[LoadCMTof]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadCMTof]
	@UIDpost VARCHAR(30)
AS
begin
	SELECT Profile.UIDuser, Profile.NAME,Profile.AVATAR, Post.IDPOST, CMT.IDcomment, CMT.CONTENT,CMT.TIME
	FROM dbo.COMMENT AS CMT
	INNER JOIN dbo.PROFILE AS Profile ON Profile.UIDuser = CMT.IDuser
	INNER JOIN dbo.POST AS Post ON Post.IDPOST = CMT.IDPOST
	WHERE CMT.IDPOST = @UIDpost
	ORDER BY Post.TIME
End
GO
/****** Object:  StoredProcedure [dbo].[SignIn]    Script Date: 12/25/2019 1:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[SignIn]
	@UserId VARCHAR(30),
	@PassWord VARCHAR(30)
AS
	BEGIN
 SELECT Profile.*
                FROM dbo.ACCOUNT AS acc, dbo.PROFILE AS Profile 
                WHERE acc.ID = @UserId AND acc.PASS = @PassWord AND Profile.UIDuser = acc.UID
	End
GO
USE [master]
GO
