USE [master]
GO
/****** Object:  Database [DataSocial]    Script Date: 10/19/2019 5:49:21 PM ******/
CREATE DATABASE [DataSocial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataSocial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLDEV2017\MSSQL\DATA\DataSocial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataSocial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLDEV2017\MSSQL\DATA\DataSocial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataSocial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataSocial]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[UID] [varchar](30) NOT NULL,
	[ID] [varchar](20) NOT NULL,
	[PASS] [varchar](20) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[IDcomment] [varchar](30) NOT NULL,
	[IDPOST] [varchar](30) NULL,
	[CONTENT] [ntext] NULL,
	[TIME] [datetime] NULL,
	[IDuser] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDcomment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FRIEND]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRIEND](
	[UID1] [varchar](30) NOT NULL,
	[UID2] [varchar](30) NOT NULL,
 CONSTRAINT [PK_FRIEND] PRIMARY KEY CLUSTERED 
(
	[UID1] ASC,
	[UID2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSENGER]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSENGER](
	[IDmessenger] [varchar](30) NOT NULL,
	[IDmessengerbox] [varchar](30) NULL,
	[UIDsend] [varchar](30) NOT NULL,
	[Content] [ntext] NULL,
	[Image] [varbinary](max) NULL,
	[TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDmessenger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessengerBox]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessengerBox](
	[IDmessengerbox] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDmessengerbox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[IDPOST] [varchar](30) NOT NULL,
	[IDUSER] [varchar](30) NULL,
	[LIKED] [int] NULL,
	[CONTENT] [ntext] NULL,
	[IMAGE] [varbinary](max) NULL,
	[TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPOST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 10/19/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[UIDuser] [varchar](30) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[AVATAR] [varbinary](max) NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[UIDuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([UID], [ID], [PASS]) VALUES (N'22782493', N'admin', N'admin')
INSERT [dbo].[ACCOUNT] ([UID], [ID], [PASS]) VALUES (N'32940241', N'datconyt', N'123')
INSERT [dbo].[ACCOUNT] ([UID], [ID], [PASS]) VALUES (N'77182930', N'dsvsdvsvsdf', N'111')
INSERT [dbo].[COMMENT] ([IDcomment], [IDPOST], [CONTENT], [TIME], [IDuser]) VALUES (N'14869605', N'23444043', N'x?o quá', CAST(N'2019-10-14T14:22:48.250' AS DateTime), N'99841234')
INSERT [dbo].[COMMENT] ([IDcomment], [IDPOST], [CONTENT], [TIME], [IDuser]) VALUES (N'14881893', N'22114223', N'
3', CAST(N'2019-10-14T19:03:52.087' AS DateTime), N'99841234')
INSERT [dbo].[COMMENT] ([IDcomment], [IDPOST], [CONTENT], [TIME], [IDuser]) VALUES (N'15929990', N'99555234', N'vhaf]s', CAST(N'2019-10-16T10:53:28.273' AS DateTime), N'80267710')
INSERT [dbo].[FRIEND] ([UID1], [UID2]) VALUES (N'22782493', N'99841234')
INSERT [dbo].[FRIEND] ([UID1], [UID2]) VALUES (N'33755086', N'22782493')
INSERT [dbo].[FRIEND] ([UID1], [UID2]) VALUES (N'33755086', N'99841234')
INSERT [dbo].[POST] ([IDPOST], [IDUSER], [LIKED], [CONTENT], [IMAGE], [TIME]) VALUES (N'10869760', N'99841234', 0, N'', NULL, CAST(N'2019-10-13T23:06:36.130' AS DateTime))
INSERT [dbo].[POST] ([IDPOST], [IDUSER], [LIKED], [CONTENT], [IMAGE], [TIME]) VALUES (N'14031138', N'99841234', 0, N'Ðoàn Công Minh nhu?ng', NULL, CAST(N'2019-10-13T22:59:12.760' AS DateTime))
INSERT [dbo].[POST] ([IDPOST], [IDUSER], [LIKED], [CONTENT], [IMAGE], [TIME]) VALUES (N'15941533', N'99841234', 0, N'ok', NULL, CAST(N'2019-10-14T16:28:29.277' AS DateTime))
INSERT [dbo].[PROFILE] ([UIDuser], [NAME], [AVATAR]) VALUES (N'22782493', N'Admin', NULL)
INSERT [dbo].[PROFILE] ([UIDuser], [NAME], [AVATAR]) VALUES (N'32940241', N'Ðạt', NULL)
INSERT [dbo].[PROFILE] ([UIDuser], [NAME], [AVATAR]) VALUES (N'33755086', N'Huy', NULL)
ALTER TABLE [dbo].[COMMENT] ADD  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[MESSENGER] ADD  DEFAULT (NULL) FOR [Image]
GO
ALTER TABLE [dbo].[MESSENGER] ADD  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[POST] ADD  DEFAULT (NULL) FOR [IMAGE]
GO
ALTER TABLE [dbo].[POST] ADD  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[PROFILE] ADD  DEFAULT (NULL) FOR [AVATAR]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT] FOREIGN KEY([UID])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT] FOREIGN KEY([IDPOST])
REFERENCES [dbo].[POST] ([IDPOST])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_Comment_user] FOREIGN KEY([IDuser])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_Comment_user]
GO
ALTER TABLE [dbo].[FRIEND]  WITH CHECK ADD  CONSTRAINT [FK_FRIEND1] FOREIGN KEY([UID1])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[FRIEND] CHECK CONSTRAINT [FK_FRIEND1]
GO
ALTER TABLE [dbo].[FRIEND]  WITH CHECK ADD  CONSTRAINT [FK_FRIEND2] FOREIGN KEY([UID2])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[FRIEND] CHECK CONSTRAINT [FK_FRIEND2]
GO
ALTER TABLE [dbo].[MESSENGER]  WITH CHECK ADD  CONSTRAINT [FK_MESSENGER_MessengerBox] FOREIGN KEY([IDmessengerbox])
REFERENCES [dbo].[MessengerBox] ([IDmessengerbox])
GO
ALTER TABLE [dbo].[MESSENGER] CHECK CONSTRAINT [FK_MESSENGER_MessengerBox]
GO
ALTER TABLE [dbo].[MESSENGER]  WITH CHECK ADD  CONSTRAINT [FK_MESSENGER_PROFILE] FOREIGN KEY([UIDsend])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[MESSENGER] CHECK CONSTRAINT [FK_MESSENGER_PROFILE]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_POST] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[PROFILE] ([UIDuser])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_POST]
GO
USE [master]
GO
